#navbar {
    width: 100%;
    height: 10%;
}

#box {
    width: 100%;
    height: 90%;
    position: relative;
}

.box-content {
    width: 100%;
    height: 100%;
}

.box-container {
    height: 80%;
}

.box-input {
    height: 20%;
}
.black-border {
    border: 1px solid black;
}

.nav-title {
    float: left;
}

.nav-menu-button {
    float: right;
}